@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.bloco-azul{
    background-color: #180846;
    width: auto;
    height: 128px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.logo{
    width: 206px;
    height: auto;
    margin-top: -66px;
    position: absolute;
    transition: transform 0.5s ease;
}

.logo:hover{
    transform: scale(0.8);
}


.icon{
    width: 75px;
    height: auto;
    margin-top: -5px;
    margin-left: 1664px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.5s ease;;
}

.icon:hover{
    transform: scale(0.8);
}

.nome-da-vinheria{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37px;
    margin-top: -47px;
    width: 107px;
    height: 95px;
    margin-left: 180px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.8s ease;
}

.nome-da-vinheria:hover {
    color: #D9B368;
    text-shadow: 0 0 10px white;
    transform: scale(1.1) rotate(-1deg);
}

.agnello{
    margin-left: 5px;
}

input{
    font-family: "Instrument Serif", serif;
    font-size: 20px;
    width: 659px;
    height: 38px;
    border-radius: 5px;
    border: none;
    position: absolute;
    margin-left: 570px;
    transition: transform 1s ease;
}

input:hover{
    transform: scale(1.05);
}

.lupa{
    background-color: #D9B368;
    font-size: 24px;
    width: 48px;
    height: 38px;
    position: absolute;
    margin-left: 1250px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: transform 0.8s ease-in-out;
}

.lupa:hover{
    color: #D9B368;
    text-shadow: 0 0 10px white;
    transform: scale(1.1);
}

.entrar{
    width: 116px;
    height: 32px;
    margin-left: 1757px;
    font-size: 25px;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    transition: transform 1s ease;
    cursor: pointer;
}

.entrar:hover{
    transform: scale(0.8);
}

.quadrado{
    background-color: #D9B368;
    width: 88px;
    height: 79px;
    margin-top: -7px;
    margin-left: 1656px;
    position: absolute;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.pesquisar{
    margin-top: -33px;
}

.imagem-e-texto{
    display: flex;
    position: relative;
}

.foto01{
    width: 1258px;
    height: 838px;
    margin-top: 104px;
    animation: fadeInLeft 1.5s ease-out forwards;
}

.bloco-com-letras{
    position: absolute;
    width: 668px;
    height: 72px;
    background-color: #180846;
    color: white;
    margin-top: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 0.8s;
}

.foto02{
    position: absolute;
    width: 1201px;
    height: 676px;
    margin-top: 120px;
    margin-left: 538px;
    opacity: 0;
    animation: fadeInRight 1.5s ease-out 0.5s forwards;
}

.texto{
    margin-left: 100px;
}

.primeiro-texto{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    position: absolute;
    z-index: 1;
}

.segundo-texto{
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-left: 100px;
    position: absolute;
    z-index: 1;
    margin-left: 578px;
    width: 216px;
    height: 20px;
    margin-top: 192px;
    opacity: 0;
    animation: fadeInRight 1.5s ease-out 0.5s forwards;
}

.terceiro-texto{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    position: absolute;
    z-index: 1;
    margin-left: 578px;
    width: 244px;
    height: 78px;
    margin-top: 200px;
    opacity: 0;
    animation: fadeInRight 1.5s ease-out 0.5s forwards;
}

.quarto-texto{
    font-family: "Kalnia", serif;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    margin-left: 578px;
    width: 220px;
    height: 27px;
    margin-top: 262px;
    opacity: 0;
    animation: fadeInRight 1.5s ease-out 0.5s forwards;
}

.quinto-texto{
    font-family: "Instrument Sans", sans-serif;
    font-size: 30px;
    position: absolute;
    z-index: 1;
    margin-left: 578px;
    width: 728px;
    height: 259px;
    margin-top: 310px;
    opacity: 0;
    animation: fadeInRight 1.5s ease-out 0.5s forwards;
}

.sexto-texto{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    z-index: 1;
    margin-left: 578px;
    width: 600px;
    height: 39px;
    margin-top: 580px;
    opacity: 0;
    animation: fadeInRight 1.5s ease-out 0.5s forwards;
}

.compre-aqui{
    background-color: #D9B368;
    width: 312px;
    height: 57px;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    position: absolute;
    z-index: 1;
    margin-left: 578px;
    margin-top: 659px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeInRight 1.5s ease-out 0.5s forwards;
}

.compre-aqui:hover{
    background-color: #e94e3f;
    transform: scale(1.1) rotate(-2deg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.vinho{
    width: 602px;
    height: 602px;
    margin-left: 1250px;
    margin-top: 259px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    animation: fadeInRight 1.5s ease-out 0.5s forwards;
}

.bloco-branco{
    background-color: white;
    z-index: 10;
    position: absolute;
    width: 321px;
    height: 59px;
    margin-top: 866px;
    margin-left: 1320px;
    opacity: 100%;
    animation: fadeInRight 1.5s ease-out 0.5s forwards;
}

footer {
    background-color: #0a2342;;
    color: white;
    padding: 40px 25px;
    text-align: center;
    margin-top: 80px;
    font-size: 1rem;
    line-height: 1.6;
}


footer p {
    text-align: center;
    margin-top: 20px;
    color:  white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.05rem;
    line-height: 1.8;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
  
footer a {
    color: #f7f7f7;
    text-decoration: underline;
    font-weight:500;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}